@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,p{
    margin:0;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

a{
    text-decoration:none;
}

.cf:after{
    content:"";
    display:block;
    clear:both;
}
/*전체 시작*/
#wrap{
    width:100%;
}
/*해더 시작*/
#header{
    height:60px;
    background:#e7e8ec;
    position:relative;
}
#header h1{
    width:135px;
    height:27px;
    font-size:30px;
    padding:10px;
    
}

#header h1 a{
    display:block;
    color:#000;
}

.pannel{
    position:absolute;
    top:50%;
    right:10px;
    margin-top:-8px;
}
.pannel a{
    display:block;
}
.pannel a span{
    width:25px;
    height:2px;
    background:#000;
    display:block;
    text-indent:-9999px;
    margin:5px 0;
}

.pannel a:before,.pannel a:after{
    content:"";
    width:25px;
    height:2px;
    background:#000;
    display:block;
}

/*서브 타이틀 시작*/
.headerIn{}
.headerIn p{
    width:150px;
    background:#bd173d;
    color:#fff;
    text-align:center;
    padding:5px;
    font-size:15px;
    margin-top:30px;
}
.headerIn h1{
    font-size:20px;
    margin-left:20px;
    padding:10px;
}
.nav{
    background:#f2f2f3;
    height:25px;
    padding-left:10px;
}
.nav span{
    font-size:12px;
}

.nav span:after{
    content:"";
    display:inline-block;
    width:20px;
    height:1px;
    background:#000;
    vertical-align:middle;
    margin-left:10px;
    margin-right:5px;
}
.nav span:last-child:after{
    display:none;
}

/*컨테이너 시작*/
#container{
    background:#d1dff2;
    margin-top:40px;
}
.conTitle{
    font-size:0;
    width:100%;
    background:#0b182a;
    display:block;
}
.conTitle li{
    text-align:center;
    padding:30px 1%;
    width:31%;
    display:inline-block;
    font-size:15px;
}
.conTitle .first{
    background:#fff;
}
.conTitle .first a{
    color:#000;
}
.conTitle li a{
    width:100%;
    height:100%;
    display:block;
    color:#fff;
}
.conImg{
    padding-top:50px;
    text-align:center;
}
.conImg ul{}
.conImg ul li{}
.conImg ul li a{}
.conImg ul li img{
    width:80%;
    height:auto;
}
.conImg ul li h1{
    font-size:20px;
}
.plusBtn{
    padding:50px 0;
    text-align:center;
}
.plusBtn img{
    width:15%;
    height:auto;
}
.plusBtn p{}

/*푸터 시작*/
#footer{
    text-align:center;
    color:#fff;
    background:#2a2a2a;
}
#footer h3{
    padding:20px;
}
#footer p{
    display:inline-block;
    font-size:12px;
}
#footer p:after{
    content:"";
    display:inline-block;
    width:1px;
    height:8px;
    background:#fff;
    margin:0 auto;
    margin-left:10px;
}
#footer p:nth-child(3):after{
    display:none;
}
#footer p:last-child:after{
    display:none;
}

.footerInfo{
    padding-bottom:20px;
}





























