@charset "utf-8";
/*max-width:768*/
@media screen and (max-width:768px){
    body{
        min-width:100%;
    }
    
    .inner{
        width:100%;
    }
    /*해더*/
    #header{
        padding:10px 20px;
    }
    #header h1{
        width:70px;
        height:28px;
        background:url(../m/images/sp_com.png) no-repeat;
        position:static;
        margin-top:0;
    }
    
    /*패널아이콘*/
    .pannel{
        display:block;
        position:absolute;
        top:50%;
        margin-top:-8px;
        right:0;
    }
    .pannel a{
        display:block;
    }
    .pannel a:before,.pannel a:after,.pannel a span{
        content:"";
        display:block;
        width:25px;
        height:2px;
        background:#222;
    }
    .pannel a span{
        margin:5px 0;
        text-indent:-9999px;
    }
    .pannel a:after{
        width:20px;
    }
    
    .gnb,.utill{
        display:none;
    }
    
    /*메인슬라이더*/
    .mainSlider{
        height:370px;
        overflow:hidden;
    }
    .mainSlider img{
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-500px;
        margin-top:-189px;
        width:1000px;
    }
    .sliderLeftBtn, .sliderRightBtn{
        width:13px;
        height:24px;
        margin-top:-12px;
        background:url(../m/images/sp_com.png) no-repeat;
        background-position:-65px -31px;
    }
    .sliderLeftBtn{
        left:10px;
    }
    .sliderRightBtn{
        right:10px;
        background-position:-80px -31px;
    }
    /*슬라이더 텍스트*/
    .sliderText{
        height:74px;
        display:block;
        position:absolute;
        width:100%;
        top:50%;
        margin-top:-37px;
        text-align:center;
        color:#fff;
    }
    .sliderText h3{
        font-size:16px;
        font-weight:300;
    }
    .sliderText p{
        font-size:11px;
        margin-top:10px;
    }
    
    /*메인로우1*/
    .mainRow1 ul{
        font-size:0;
        padding:10px 0;
    }
    .mainRow1 ul li{
        width:33.3%;
        padding:10px 0;
    }
    .mainRow1 ul li a{
        display:block;
    }
    .mainRow1 ul li p{
        font-size:14px;
    }
    .mainRow1 ul li a span{
        width:36px;
        height:30px;
        margin:0 auto;
        display:block;
        background:url(../m/images/sp_com.png) no-repeat -1px -60px;
    }
    .mainRow1 ul li a span.icon22{
        background:url(../m/images/sp_com.png) no-repeat -35px -60px;
    }
    .mainRow1 ul li a span.icon33{
        background:url(../m/images/sp_com.png) no-repeat -71px -58px;
    }
    .mainRow1 ul li a span.icon44{
        background:url(../m/images/sp_com.png) no-repeat -108px -58px;
    }
    .mainRow1 ul li a span.icon55{
        background:url(../m/images/sp_com.png) no-repeat -180px -58px;
    }
    .mainRow1 ul li a span.icon66{
        background:url(../m/images/sp_com.png) no-repeat -178px -55px;
    }
    .mainRow1 ul li:hover .icon11{
        background-position:-1px -93px;
    }
    .mainRow1 ul li:hover .icon22{
        background-position:-35px -93px;
    }
    .mainRow1 ul li:hover .icon33{
        background-position:-71px -91px;
    }
    .mainRow1 ul li:hover .icon44{
        background-position:-108px -91px;
    }
    .mainRow1 ul li:hover .icon55{
        background-position:-180px -91px;
    }
    .mainRow1 ul li:hover .icon66{
        background-position:-178px -88px;
    }
    
    
    .mainRow2{
        display:none;
    }
    .mainRow3{
        width:calc(100% - 20px);
        padding:0;
    }
    .mainRow3 a{
        height:auto;
    }
    .mainRow3 div{
        width:calc(50% - 5px);
        margin-bottom:10px;
        margin-right:10px;
        height:auto;
    }
    .mainRow3 .row3Box1,.mainRow3 .row3Box2,.mainRow3 .row3Box3,.mainRow3 .row3Box4{
        background-size:100% 100%;
    }
    .mainRow3 .row3Box2{
        margin-right:0;
    }
    
    .mainRow3 h3{
        padding:43% 0;
        margin-bottom:0;
        font-size:14px;
        font-weight:300;
    }
    .row3Box4{
        display:none;
    }
    .mainRow3 .mRow3Box4{
        display:block;
        margin-right:0;
        background:url(../images/mainrow3_img1.jpg) no-repeat;
        background-size:100% 100%;
    }
    
    .mainRow3 a:hover p{
        display:none;
    }
    
    .mainRow4{
        display:none;
    }
    .mMainRow4{
        width:calc(100% - 20px);
        margin:0 auto;
        display:block;
    }
    
    .mMainRow4 dl{
        background:#f2f0ed;
        overflow:hidden;
        height:45px;
        line-height:45px;
        margin:10px 0;
    }
    .mMainRow4 dl dt{
        width:20%;
        float:left;
        text-align:center;
        color:#2d5b79;
    }
    .mMainRow4 dl dd{
        width:75%;
        float:left;
        margin:0;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }
    .mMainRow4 dl dd a{
        color:#222;
    }

    .mainRow5{
        margin-top:20px;
        padding:20px 10px;
        height:auto;
        background-size:cover;
    }
    .row5Box{
        width:calc(50% - 5px);
        margin-right:10px;
        height:auto;
    }
    .row5Box h3{
        padding-top:80%;
        padding-bottom:20%;
        font-size:14px;
        font-weight:300;
    }
    .row5Box p{
        display:none;
    }
    .row5Box2,.row5Box4{
        margin-right:0;
    }
    
    .row5Box3,.row5Box4{
        margin-top:10px;
    }
    .row5Box,.row5Box2,.row5Box3,.row5Box4{
        background-size:100% 100%;
    }
    .footerTop{
        padding:20px 0;
    }
    .footerRight{
        position:static;
        text-align:center;
        margin-top:20px;
    }
    .footerMenu{
        width:100%;
        height:30px;
        line-height:30px;
        text-align:center;
    }
    .footerMenu li:last-child:after{
        display:none;
    }
    
    .callNumber,.callNumber span{
        font-size:12px;
    }
    .callNumber span{
        margin-right:10px;
    }
    .familySite select{
        width:120px;
        font-size:12px;
    }
    .footerBottom{
        padding:15px 0;
    }
    .footerBottom p{
        font-size:11px;
    }
    
    .footerLogo,.footerBottom span{
        display:none;
    }
    
    
    
    
    
    
    
    
    
}