@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
}

body{
    font-family:"Noto Sans",sans-serif;
    background:#c6cfd9;
}

a{
    text-decoration:none;
}

ul{
    padding:0;
    margin:0;
    list-style:none;
}

.cf:after{
    content:"";
    display:block;
    clear:both;
}

/*전체시작*/

#wrap{}

.inner{
    max-width:1200px;
    margin:0 auto;
}

/*해더시작*/
#header{
    margin:0 5%;
    position:relative;
    padding-top:100px;
}
#header img{}
.leftMenu img{
    width:5em;
}

/*레프트메뉴*/
.pannel{
    position:absolute;
    top:50%;
    right:10px;
    margin-top:-8px;
}
.pannel a{
    display:block;
}
.pannel a span{
    width:35px;
    height:3px;
    background:#000;
    display:block;
    text-indent:-9999px;
    margin:10px 0;
}

.pannel a:before,.pannel a:after{
    content:"";
    width:35px;
    height:3px;
    background:#000;
    display:block;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    width:40vw;
    padding:20px 0;
    text-decoration: none;
    font-size: 50px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align:center;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    width:0;
    position: absolute;
    top: 0;
    right: 80px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn img{
    width:25px;
    height:25px;
}
.openNav{
    width:40%;
    text-align:center;
}

/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/
/*레프트메뉴*/

.title{
    margin-left:100px;
    top:35%;
    left:10%;
    position: absolute;
}
.title p{
    margin:0;
    font-size:85px;
    display:inline-block;
    font-family: 'Rozha One', serif;
}
/*해더끝*/

.container{
    margin-top:50px;
}

/*타이틀 내용,이미지 시작*/

.titleInfo{
    margin-left:10%;
    display:inline-block;
    vertical-align:35px;
}

.conTitle{}
.conTitle img{
    width:5%;
}
.conTitle h1{}

.color{
    padding:20px 0;
}
.color p{
    display:inline-block;
    font-size:20px;
    font-weight:600;
    margin-right:30px;
}
.color span{
    padding:5px 20px;
    background:#bd173d;
    color:#fff;
}

.font{}
.font p{
    display:inline-block;
    font-size:20px;
    font-weight:600;
    margin-right:50px;
}
.font span{}

.Info{}
.Info p{
    padding-top:20px;
}

.titleImg{
    display:inline-block;
}
.titleImg img{
    width:460px;
}

/*웹 이미지시작*/

.imgInfo{
    padding-top:100px;
    position:relative;
}

.webImg{
    text-align:center;
    background:url(../images/backimg.png) no-repeat;
}

.webImg h1{
    background:#c6cfd9;
    float: left;
    margin-left: 100px;
    margin-top: -45px;
    padding: 10px 30px;
    font-size: 50px;
    color:#424141;
}

.webImg img{
    padding:40px;
}

.line{
    border: solid 10px #fff;
    padding:60px;
}

/*모바일이미지 시작*/

.mobileImg{
    text-align:center;
    margin:150px 0;
}
.mobileImg h1{
    background:#c6cfd9;
    float: left;
    margin-left: 100px;
    margin-top: -45px;
    padding: 10px 30px;
    font-size: 50px;
    color:#424141;
}
.mobileImg img{
    width:80%;
    padding:50px;
}










