@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,p{
    margin:0;
}

body{
    font-family:"NotoSans",sans-serif;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

a{
    text-decoration:none;
}

.cf:after{
    content:"";
    display:block;
    clear:both;
}
/*전체 시작*/
#wrap{
    width:100%;
}
/*해더 시작*/
#header{
    height:60px;
    background:#e7e8ec;
    position:relative;
}
#header h1{
    width:135px;
    height:27px;
    font-size:30px;
    padding:10px;
    
}

#header h1 a{
    display:block;
    color:#000;
}

.pannel{
    position:absolute;
    top:50%;
    right:10px;
    margin-top:-8px;
}
.pannel a{
    display:block;
}
.pannel a span{
    width:25px;
    height:2px;
    background:#000;
    display:block;
    text-indent:-9999px;
    margin:5px 0;
}

.pannel a:before,.pannel a:after{
    content:"";
    width:25px;
    height:2px;
    background:#000;
    display:block;
}

/*레프트메뉴*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*레프트메뉴*/

/*서브 타이틀 시작*/
.headerIn{}
.headerIn p{
    width:150px;
    background:#bd173d;
    color:#fff;
    text-align:center;
    padding:5px;
    font-size:15px;
    margin-top:30px;
}
.headerIn h1{
    font-size:20px;
    margin-left:20px;
    padding:10px;
}
.nav{
    background:#f2f2f3;
    height:25px;
    padding-left:10px;
}
.nav span{
    font-size:12px;
}

.nav span:after{
    content:"";
    display:inline-block;
    width:20px;
    height:1px;
    background:#000;
    vertical-align:middle;
    margin-left:10px;
    margin-right:5px;
}
.nav span:last-child:after{
    display:none;
}

/*컨테이너 시작*/
#container{
    background:#d1dff2;
    margin-top:40px;
    padding-bottom:50px;
}
#container img{
    height:auto;
    margin:0 auto;
    display:block;
    
}
#container .firstImg{
    width:100%;
}
#container .lastImg{
    width:60%;
}
.conTitle{
    position:relative;
    padding-left:20px;
}
#container h1{
    padding:30px 0;
    font-size:20px;
    width:80%;
    margin:0 auto;
}
#container h1:before{
    content:"";
    display:block;
    width:20px;
    height:2px;
    background:#000;
    position:absolute;
    left:20px;
    margin-top:15px;
}
#container p{
    padding-left:40px;
    font-size:13px;
    width:80%;
    margin:0 auto;
}

/*푸터 시작*/
#footer{
    text-align:center;
    color:#fff;
    background:#2a2a2a;
}
#footer h3{
    padding:20px;
}
#footer p{
    display:inline-block;
    font-size:12px;
}
#footer p:after{
    content:"";
    display:inline-block;
    width:1px;
    height:8px;
    background:#fff;
    margin:0 auto;
    margin-left:10px;
}
#footer p:nth-child(3):after{
    display:none;
}
#footer p:last-child:after{
    display:none;
}

.footerInfo{
    padding-bottom:20px;
}
