@charset "utf-8";

h1,h2,h3,h4,h5,h6,p,{
    margin:0;
}

body{
    font-family: 'Rozha One', serif;
	margin:0;
	padding:0;
    position:relative;
}

a{
    text-decoration:none;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

.cf:after{
    content:"";
    display:block;
    clear:both;
}

.inner{
    max-width:1200px;
    margin:0 auto;
}

#wrap{
    width:100%;
    height:100%;
    background-size:cover;
    position:relative;
}

/*해더시작*/

#header{
    margin:0 5%;
    position:relative;
    padding-top:100px;
}
#header img{
    width:5em;
}

/*레프트메뉴*/
.pannel{
    position:absolute;
    top:50%;
    right:10px;
    margin-top:-8px;
}
.pannel a{
    display:block;
}
.pannel a span{
    width:35px;
    height:3px;
    background:#000;
    display:block;
    text-indent:-9999px;
    margin:10px 0;
}

.pannel a:before,.pannel a:after{
    content:"";
    width:35px;
    height:3px;
    background:#000;
    display:block;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    width:760px;
/*    padding: 8px 8px 8px 32px;*/
    text-decoration: none;
    font-size: 50px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align:center;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    width:0;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openNav{
    width:40%;
    text-align:center;
}

/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/
/*레프트메뉴*/

/*페이지타이틀*/

.title{
    margin-left:100px;
    top:35%;
    left:10%;
    position: absolute;
}
.title p{
    margin:0;
    font-size:100px;
    display:inline-block;
}
.title span{
    padding-left:30px;
    font-size:30px;
    display:inline-block;
}

/*컨테이너 시작*/
#container{
    font-family:'Noto Sans KR',sans-serif;
}

/*프로필*/
.con01{
    position:relative;
}

.con01Info{
    margin-top:60px;
    padding-top:150px;
    padding-left:50px;
}

.con01 h3{
    margin:20px 0;
    font-size:25px;
    font-weight:bold;
}
.con01 h3 p{
    font-weight:100;
    display:inline-block;
}
.con01 p{
    margin:0;
    font-size:25px;
}
.con01 img{
    width:60%;
    position:absolute;
    top:0;
    right:0;
}

/*스킬*/
.con02{
    margin-top:250px;
}
.con02 h1{
    padding-top:50px;
    text-align:center;
    font-family: 'Rozha One', serif;
    font-size:50px;
}
.con02 img{}
.con02Info{
    width:625px;
    margin:0 auto;
}
.grap1,.grap2,.grap3,.grap4{
    display:inline-block;
}
.grap1 h2,.grap2 h2,.grap3 h2,.grap4 h2{
    width:500px;
    height:30px;
    margin-bottom:70px;
    background:#000;
    font-size:0;
    display:inline-block;
    vertical-align:middle;
}
.grap1 p,.grap2 p,.grap3 p,.grap4 p{
    margin-bottom:90px;
    vertical-align:middle;
    display:inline-block;
}

.grap2 h2{
    width:450px;
}
.grap3 h2{
    width:350px;
}
.grap4 h2{
    width:300px;
}
/*contact*/
.con03{
    height:600px;
    margin-top:100px;
    background:url(../images/contact.png) no-repeat;
    background-size:100% 100%;
    text-align:center;
}
.con03Info{
    padding-top:100px;
}
.con03Info h1{
    margin-bottom:100px;
    font-family: 'Rozha One', serif;
    font-size:50px;
}
.icon{}

.icon01{
    display:inline-block;
}
.icon01 img{
    display:inline-block;
}
.icon01 span{
    margin-top: -60px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}

.icon02{
    display:inline-block;
    margin-left:50px;
}
.icon02 img{
    display:inline-block;
}
.icon02 span{
    margin-top: -60px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}


@media screen and (max-width:760px) {
    #header{
        padding:0;
    }
    #header img{
        width:3em;
    }
    .openNav{
        width:100%;
    }
    .closeNav{
        width:0;
    }
    
    .sidenav a{
        width:100%;
    }
    .pannel{
        top:10%;
    }
    .leftMenu{
        margin:20px 0;
    }
    .title{
        position:relative;
        margin-left:0;
        left:0;
    }
    
    .title p{
        font-size:55px;
    }
    .title span{
        padding-left:5px;
        font-size:15px;
    }
    .con01Info{
        padding-left:30px;
    }
    
    .con01 h3{
        font-size:20px;
    }
    .con01 p{
        font-size:20px;
    }
    .con02{
        margin-top:50px;
    }
    .con02 h1{
        font-size:40px;
    }
    
    .con02Info{
        width:310px;
    }
    .con02 img{
        width:15%;
    }
    
    .con03 h1{
        font-size:40px;
    }
    .grap1 h2,.grap2 h2,.grap3 h2,.grap4 h2{
        width:220px;
        height:20px;
        margin-bottom:45px;
    }
    .grap2 h2{
        width:200px;
    }
    .grap3 h2{
        width:170px;
    }
    .grap4 h2{
        width:150px;
    }
    .grap1 p,.grap2 p,.grap3 p,.grap4 p{
        margin-bottom:30px;
        vertical-align:20px;
    }
    
    .icon02{
        margin-top:30px;
        margin-left:-50px;
    }
}
















