@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,p{
    margin:0;
}
body{
    min-width:1000px;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

a{
    text-decoration:none;
}

.cf:after{
    content:"";
    display:block;
    clear:both;
}

/*전체시작*/
#wrap{}
#header{}
#header .headerIn{
    margin-bottom:35px;
    padding:10px 0px;
    border-bottom:1px solid #e5e5e5;
}
.headerIn{
    width:1000px;
    margin:0 auto;
    position:relative;
}

.headerIn h1{
    width:204px;
    height:50px;
    background:url(../imeges/rogo.gif) no-repeat;
    background-position:left center;
    text-indent:-9999px;
    float:left;
}
.headerIn h1 a{   
    display:block;    
}

.smenu{
    position:absolute;
    right:0;
    top:50%;
    margin-top:-8px;
}
.smenu li{
    float:left;
    font-size:13px;
}
.smenu li.on a{
    font-weight:bold;
    color:#007cc0;
}
.smenu li a{
    margin-left:15px;
    color:#000;
}

.gnb{
    width:500px;
    float:left;
    height: 50px;
    margin-left:50px;
    line-height:50px;
}

.gnb li{
    text-align:center;
    width:20%;
    font-size:14px;
    float:left;
}

.gnb li a{
    display:block;
    color:#000;
}

.lnb{
    width:100%;
    position:absolute;
    z-index:1;
    padding-left:20px;
    display:none;
}

.gnb li:hover .lnb{
    display:block;
}
.lnb li{
    width:auto;
    font-size:12px;
}

.lnb li:hover a{
    color:#007cc0;
}

.lnb li a{
    padding:0 5px;
}

#container{}

.mainSlider{
    height:600px;
    overflow:hidden;
    position:relative;
}

.mainSlider img{
    position:absolute;
    left:50%;
    margin-left:-960px;
}

.sliderLeftBtn{
    position:absolute;
    left:50%;
    margin-left:-500px;
    bottom:30px;
}
.sliderLeftBtn li{
    width:16px;
    height:16px;
    text-indent:-9999px;
    margin-right:5px;
    float:left;
    background:url(../imeges/blet_visual.png) no-repeat;
}

.sliderLeftBtn li.on{
    background-position:0 -16px;
}
.sliderLeftBtn li a{
    display:block;
}

.sliderRightBtn{
    position:absolute;
    right:50%;
    margin-right:-500px;
    bottom:0;
}
.sliderRightBtn li{
    width:45px;
    height:45px;
    background:url(../imeges/btn_visual_cnt.png) no-repeat;
    text-indent:-9999px;
    float:left;
    margin-left:1px;
}
.sliderRightBtn li:nth-child(2){
    background-position:-46px 0;
}

.sliderRightBtn li:last-child{
    background-position:-92px 0;
}
.sliderRightBtn li a{
    height:45px;
    display:block;
}


.banner{
    padding:50px 0;
    background:#1c97fe;
}
.row1Box{
    width:235px;
    margin-right:20px;
    float:left;
}
.row1Box.last{
    margin-right:0;
}
.row1Box h3{
    color:#fff;
    font-weight:normal;
    font-size:20px;
}
.row1Box a{}
.row1Box a img{
    height:135px;
    width:100%;
    margin:10px 0;
}
.row1Box a p{
    font-size:11px;
    color:#fff;
    letter-spacing:-1px;
}

/*배너2*/
.banner2{
    width:100%;
    height:500px;
    background:url(../imeges/brandSite_bg.png) no-repeat center;
    background-position:50% 0;
}
.row2Title{
    text-align:center;
}
.row2Title h2{
    padding:50px 0;
}
.row2Title h2 img{
}

.row2Box{
    width:235px;
    margin-right:20px;
    float:left;
    text-align:center;
}
.row2Box.last{
    margin-right:0;
}
.row2Box h3{}
.row2Box a{
    display:inline-block;
}

.row2Box a p span{
    font-size:13px;
    color: #000;
    font-weight:bold;
}
.row2Box a img{
    width:235px;
    height:200px;
    margin:10px 0;
    display:block;
}
.row2Box a p{
    font-size:18px;
    margin:20px 0;
    text-align:center;
    color:#333;
    font-weight:bold;
}


.viewBtn{
    width:130px;
    margin:0 auto;
    background:#263d94;
    letter-spacing:2px;
    border-radius:20px;
}
.viewBtn a{
    padding:10px 0;
    display:block;
    color:#fff;
}


/*배너3*/
.banner3{
    padding:50px 0;
}
.banner3 h2{
    text-align:center;
    margin-bottom:40px;
}
.banner3 h2 img{}

.row3Box{
    width:320px;
    margin-right:20px;
    float:left;
    box-shadow:0 3px 10px rgba(0,0,0,0.2)/*가로값 세로값 퍼지는정도 박스와의거리 컬러 inset(박스안쉐도우)*/
}
.row3Box.last{
    margin-right:0;
}
.row3Box img{
    width:100%;
    display:block;
}
.row3Info{
    padding:20px;
    color:#333;
}
.row3Info h3{
    line-height:30px;
}
.row3Info p{
    font-size:12px;
    margin-bottom:15px;
}
.moreBtn{
    width:100px;
    background:#1c97fe;
    border-radius:20px;
    text-align:center;
    font-size:14px;
    letter-spacing:1px;
}
.moreBtn a{
    color:#fff;
    padding:10px 0;
    display:block;
}


/*푸터시작*/
#footer{
    border-top:1px solid #e6e6e6;
    padding:30px 0;
}

.footerLogo{
    float:left;
    height:60px;
    line-height:60px;
}

.footerLogo img{
    margin-top:20px;
    margin-right:30px;
}

.footerInfo{
    font-size:13px;
    color:#ccc;
    float:left;
}

.footerInfo ul{
    margin-bottom:10px;
}

.footerInfo ul li{
    float:left;
    font-size:11px;
    letter-spacing:-1px;

}

.footerInfo ul li:after{
    content:"";
    display:inline-block;
    width:1px;
    height:6px;
    background:#ccc;
    margin:0 3px;
}

.footerInfo ul li:last-child:after{
    display:none;
}
.footerInfo ul li a{
    color:#ccc;
}

.footerMark{
    position:absolute;
    right:0;
}
.footerMark a{}
.footerMark a img{}



















