@charset "utf-8";

/*해더시작*/
#header{
    width:100%;
    padding-left:50px;
    box-sizing:border-box;
    position:relative;
    position:fixed;
    background:#fff;
    z-index:10;
}
#header h1{
    width:183px;
    height:105px;
    background:url(../images/common/logo.png) no-repeat center center;
    text-indent:-9999px;
    float:left;
}
#header h1 a{
    display:block;
}
.gnb{
    height:45px;
    line-height:45px;
    float:left;
    margin-left:50px;
}
.gnb li{
    height:105px;
    line-height:105px;
    float:left;
    padding:0 30px;
    position:relative;
}
.gnb li a{
    color:#292929;
    font-size:17px
}
.gnb .fa-angle-down{
    color:brown;
    font-size:11x;
    margin-left:5px;
}
.gnb li:hover .lnb{
    max-height:500px;
    display:block;
    border-top:5px solid #f37923;
}

.lnb{
    width:100%;
    max-height:0;
    left:0;
    position:absolute;
    background:#fff;
    top:100px;
    box-shadow:1px 1px 3px rgba(0,0,0,0.1);
    overflow:hidden;
    transition:all 0.3s;
}
.lnb li{
    width:100%;
    height:35px;
    line-height:35px;
    padding:0 10px;
    box-sizing:border-box;
}

.lnb li a{
    color:#848484;
    display:block;
    font-size:13px;
    border-bottom:1px solid #e8e8e8;
}
.lnb li a:hover{
    color:#f47a20;
}
.lnb li:last-child a{
    border-bottom:0;
}
.topMenu{
    width:360px;
    height:50px;
    line-height:50px;
    background:#fff;
    position:absolute;
    z-index:1;
    bottom:-51px;
    right:0;
    border-top:1px solid #f3f3f3;
}

.topMenu li{
    width:50%;
    padding-left:15px;
    box-sizing:border-box;
    float:left;
    text-align:center;
    position:relative;
}

.topMenu li:hover a{
    color:#f47a20;
    background:url(../images/sub/btn_link1_on.png) no-repeat;
    background-position:15px center;
}

.topMenu li:last-child a{
    background:url(../images/sub/btn_link2_off.png) no-repeat;
    background-position:5px center;
}
.topMenu li:last-child a:hover{
    background:url(../images/sub/btn_link2_on.png) no-repeat;
    background-position:5px center
}
.topMenu li:last-child a:after{
    display:none;
}
.topMenu li a{
    display:block;
    background:url(../images/sub/btn_link1_off.png) no-repeat;
    background-position:15px center;
    font-size:13px;
    color:#a5a5a5;
}
.topMenu li a:after{
    content:"";
    display:inline-block;
    width:1px;
    height:8px;
    background:#f3f3f3;
    position:absolute;
    right:0;
    top:50%;
    margin-top:-4px
}

/*    이미지태그
.topMenu li{
    width:50%;
    float:left;
    text-align:center;
    position:relative;
}
.topMenu li .on{
    display:none;
}
.topMenu li:hover .on{
    display:inline-block;
}
.topMenu li:hover .off{
    display:none;
}
.topMenu li:hover a{
    color:#f47a20;
}
.topMenu li a{
    display:block;
    font-size:13px;
    color:#a5a5a5;
}
.topMenu li a:after{
    content:"";
    display:inline-block;
    width:1px;
    height:8px;
    background:#f3f3f3;
    position:absolute;
    right:0;
    top:50%;
    margin-top:-4px      */

.footerbottom{
    padding-top:40px;
    background:#f3f1f4;
    position:relative;
}
.footerCs{
    width:250px;
    float:left;
    border-right:1px solid #ddd;
    padding-left:40px;
}
.footerCs h3{
    font-size:20px;
    color:#2c2c2c;
}
.footerCs h3 span{
    display:block;
    font-weight:300;
    font-size:16px;
    color:#6c6c6c;
}

.csNumber{
    font-size:30px;
    line-height:28px;
    margin:15px 0;
}
.csNumber span{
    display:block;
    font-size:20px
}
.csEmail{
    font-size:14px;
    color:#6c6c6c;
}
.csIcon{
    margin-top:15px;
}
.csIcon li{
    width:25px;
    height:25px;
    margin-right:5px;
    background:#343235;
    border-radius:50%;
    float:left;
}
.csIcon li:hover{
    background:#222;
}
.csIcon li a{}
.csIcon li a img{
    width:100%;
}

.footerInfo{
    float:left;
    margin-left:30px;
}
.footerInfo dl{
    font-size:14px;
    overflow:hidden;
    margin-top:20px;
}
.footerInfo dl dt{
    width:80px;
    background:url(../images/sub/info_line.png) no-repeat right center;
    color:#2c2c2c;
    float:left;
}
.footerInfo dl dd{
    margin-left:5px;
    color:#6c6c6c;
    float:left;
}

.infoTitle{}
.infoTitle h3{
    font-size:20px;
    font-weight:normal;
    display:inline-block;
}
.infoTitle p{
    display:inline-block;
    color:#6c6c6c;
    margin-left:10px;
}
.infoTitle p span{
    color:#2c2c2c;
}

.footerRight{
    width:220px;
    height:220px;
    background:url(../images/sub/bg_pf.jpg) no-repeat;
    text-align:center;
    padding:30px 0;
    box-sizing:border-box;
    position:absolute;
    top:40px;
    right:40px;
}
.footerRight a{}
.footerRight h3{
    width:100px;
    margin:0 auto;
    padding:5px 0;
    font-size:12px;
    font-weight:200;
    color:#626262;
    border:1px solid #3d3d3d;
}
.footerRight p{
    margin-top:20px;
    color:#fff;
    font-size:18px;
}
.footerBar{
    margin-top:60px;
    border-top:1px solid #ddd;
    text-align:right;
}
.familySite{
    width:180px;
    height:42px;
    line-height:42px;
    font-size:14px;
    text-align:left;
    margin-right:42px;
    color:#7e7e7e;
    background:url(../images/sub/ico_add.png) no-repeat right center;
    display:inline-block;
    cursor:pointer;
}
.familysite:hover .siteMenu{
    display:block;
}
.siteMenu{
    padding:0 15px;
    background:#fff;
    border:1px solid #343235;
    position:absolute;
    bottom:42px;
    display:none;
}
.siteMenu li{}
.siteMenu li a{
    color:#888;
}
.siteMenu li a:hover{
    color:#444;
}
.topBtn{
    width:42px;
    height:42px;
    background:#343235;
    position:fixed;
    right:0;
    bottom:0;
}
.topBtn a{}
.topBtn a img{}




























