@charset "utf-8";

/*서브슬라이더*/
.subSlider{
    height:560px;
    overflow:hidden;
    position:relative;
}
.subSlider img{
    position:absolute;
    left:50%;
    margin-left:-1000px;
}
.sliderText{
    position:absolute;
    text-align:center;
    width:100%;
    height:270px;
    top:50%;
    margin-top:-195px;
    font-size:50px;
    letter-spacing:20px;
}
.sliderText h3{
    height:44px;
    line-height:44px;
    background:url(../images/sub/bracket_title.png) no-repeat;
    background-position:center center;
    font-size:20px;
    color:#bbb;
    font-weight:200;
    letter-spacing:15px;
}
.sliderText p{
    color:#fff;
    font-weight:normal;
    text-shadow:1px 2px 3px rgba(0,0,0,0.3);
}
.sliderText .big{
    font-size:56px;
    font-weight:500;
}
.sliderText p span{
    color:#f47a20;
    position:relative;
}
.sliderText p span:after{
    content:"";
    display:block;
    width:170px;
    height:1px;
    background:#f47a20;
    position:absolute;
    left:0;
    bottom:0;
}
.subNav{
    width:1000px;
    height:60px;
    line-height:60px;
    left:50%;
    margin-left:-500px;
    top:-60px;
    background:#fff;
    position:absolute;
    border-bottom:1px solid #e4e4e4;
}
.subNav li{
    float:left;
    border-right:1px solid #e4e4e4;
    position:relative;

}
.subNav li a{
    height:100%;
    padding:0 20px;
    color:#000;
    display:block;
    background:url(../images/sub/ar_snb.png) no-repeat;
    background-position:right center;
}

.icon{
    width:60px;
    background:url(../images/sub/ico_home.png) no-repeat;
    background-color:#f47a20;
    text-indent:-9999px;
    border:0;
}
.navTitle{
    width:100px;
    padding:0 20px;
}
.navMenu{
    width:150px;
}
.navMenu a{

}
/*추가메뉴*/
.subNavMenu{
    margin-left:-1px;
    width:150px;
    background:#fff;
    border:1px solid #e4e4e4;
    border-top:0;
    display:block;
    position:absolute;
    max-height:0;
    overflow:hidden;
    transition:max-height 0.4s;
}
.navMenu:hover .subNavMenu{
    max-height:500px;
}
.subNavMenu li{
    width:100%;
    border-right:0;
    border-top:1px solid #e4e4e4;
}
.subNavMenu li a{
    background:#fff;
}
.subNavMenu li a:hover{
    background:url(../images/sub/ar_snb.png) no-repeat;
    background-position:right center;
}
.companyWrap{
    color:#2c2c2c;
    padding:50px 0;
    position:relative;
}
.companyWrap h2{
    font-size:35px;
    font-weight:300;
}
.companyWrap h2:before{
    content:"";
    display:block;
    width:30px;
    height:2px;
    background:#2c2c2c;
}
.companyInfo{
    height:650px;
    background:url(../images/sub/bg_introduction_info.png) no-repeat;
    background-position:center bottom;
    background-size:100%;
}
.info01{
    font-size:13px;
    padding:30px 0;
    padding-left:10px;
}
.info01 h3{
    font-size:20px;
    font-weight:500;
    margin-bottom:20px;
}
.info01 dl{
    overflow:hidden;
    margin-bottom:10px;
}
.info01 dl dt{
    width:80px;
    float:left;
    background:url(../images/sub/info_line.png) no-repeat;
    background-position:right center;
}
.info01 dl dd{
    margin-left:15px;
    float:left;
    color:#6c6c6c;
}
/* infoline
.info01 dl dt:after{
    content:"";
    display:inline-block;
    width:1px;
    height:8px;
    background:#e4e4e4;
    position:absolute;
    top:50%;
    margin-top:-4px;
    right:0;
}*/
.emailBtn{}
.emailBtn a{
    width:108px;
    height:25px;
    display:block;
    border:1px solid #e4e4e4;
    background:url(../images/sub/bg_sendemail.png) no-repeat;
    color:#6c6c6c;
    font-size:12px;
    text-align:center;
    line-height:25px;
    transition:all 0.3s;
}
.emailBtn a:hover{
    border:1px solid #2c2c2c;
    color:#2c2c2c;
    background:url(../images/sub/bg_sendemail_on.png) no-repeat;
}
.info02{
    margin-top:80px;
    margin-left:50px;
}
.info02 h3{
    color:#fff;
    font-size:25px;
    font-weight:400;
    margin-bottom:20px;
}
.info02 p{
    font-size:12px;
    color:#949494;
}

/**/
.vision{
    padding:80px 0;
}
.title{}
.title h3{
    font-weight:400;
    display:inline-block;
    font-size:20px;
    color:#2c2c2c;
    vertical-align:middle;
}
.title p{
    display:inline-block;
    font-size:12px;
    color:#7d7d7d;
    vertical-align:middle;
}
.title p:before{
    content:"";
    display:inline-block;
    width:1px;
    height:14px;
    background:#7d7d7d;
    margin:0 10px;
}
.visionCon{
    padding-top:30px;
}
.visionCon li{
    width:166px;
    font-size:14px;
    float:left;
    text-align:center;
}
.visionCon li img{}
.visionCon li p{}
/**/
.business{}
.businessCon{
    margin-top:50px;
}
.businessCon li{
    width:235px;
    font-size:13px;
    margin-right:20px;
    float:left;
}
.businessCon .mr0{
    margin-right:0;
}
.businessCon li img{
    width:100%;
}
.businessCon li p{
    margin:10px 0 20px 0;
}

#footer{}
.footerTop{
    border-top:1px solid #222;
}
.footerTop div{
    width:50%;
    float:left;
    padding-left:30px;
    box-sizing:border-box;
}
.footerTop .icon{
    width:70px;
    height:82px;
    display:inline-block;
    text-indent:-9999px;
}
.footerTop span{
    vertical-align:middle;
}
.footerTop .title{
    font-size:16px;
    color:#2c2c2c;
}
.footerTop .title:after{
    content:"";
    display:inline-block;
    margin:0 15px;
    width:1px;
    height:8px;
    background:#888;
    vertical-align:middle;
}
.footerTop .con{
    font-size:14px;
    color:#888;
}
.topLeft .icon{
    background:url(../images/sub/ico_board_1.jpg) no-repeat;
}
.topRight .icon{
    background:url(../images/sub/ico_board_2.jpg) no-repeat;
}

.topLeft{
    border-right:1px solid #888;
}








.infoIcon{
    margin:0 auto;
}

.infoIcon li{
    width:120px;
    height:125px;
    text-align:center;
    display:inline-block;
    margin:20px;
    line-height:20px;
}
.infoIcon li span{

}
.infoIcon li p{}
.infoIcon li p img{
    margin-bottom:20px;
}

.info2{
    margin-top:70px;
}
.info2 dl{
    overflow:hidden;
    margin-bottom:10px;
}
.info2 dl dt{
    width:50px;
    float:left;
    background:url(../images/sub/info_line.png) no-repeat;
    background-position:right center;
    font-size:20px;
}
.info2 dl dd{
    margin-left:10px;
    float:left;
    color:#6c6c6c;
}

.info3{
    margin-top:70px;
}
.info3 dl{
    overflow:hidden;
    margin-bottom:10px;
}
.info3 dl dt{
    width:85px;
    float:left;
    background:url(../images/sub/info_line.png) no-repeat;
    background-position:right center;
    font-size:20px;
}
.info3 dl dd{
    margin-left:10px;
    float:left;
    color:#6c6c6c;
}

.infoIcon2{}
.infoIcon2 li{
    width:250px;
    height:80px;
    display:block;
    float:left;
}
.infoIcon2 li p{
    font-size:13px;
}
.infoIcon2 li p img{}


.subContainer h1{
}
.subContainer h2{}
.subContainer p{
    font-size:13px;
}
.subContainer span{}
.subContainer span:after{
    content:"";
    display:block;
    width:1px;
    height:8px;
    color:#e1dfe2;
    right:0;
}
.conText{
    width:1200px;
    margin:0 auto;
}
.conText h1{
    position:absolute;
    bottom:-200px;
    left:100px;
    color:#fff;
}
.conText p{
    position:absolute;
    color:#bbb;
    bottom:-300px;
    left:100px;
}









