@charset "utf-8";

h1,h2,h3,h4,h5,h6,p,{
    margin:0;
}

body{
    font-family: 'Rozha One', serif;
	margin:0;
	padding:0;
    position:relative;
}

a{
    text-decoration:none;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

.cf:after{
    content:"";
    display:block;
    clear:both;
}

.inner{
    max-width:1200px;
    margin:0 auto;
}
#background{
    width:100%;
    height:100%;
    position:fixed;
    opacity:0;
    transition:all 0.5s;
}

#wrap{
    width:100%;
    background-size:cover;
    position:relative;
}

#header{
    margin:0 5%;
    position:relative;
    padding-top:100px;
}
#header img{}

.leftMenu img{
    width:5em;
}

/*.pannel{
    width:35px;
    margin-top:50px;
    margin-left:20px;
}
.pannel a{}
.pannel a span{
    content:"";
    display:block;
    width:35px;
    height:3px;
    background:#000;
    text-indent:-9999px;
    margin:10px 0;
}
.pannel a:after,.pannel a:before{
    content:"";
    display:block;
    width:35px;
    height:3px;
    background:#000;
}*/

/*레프트메뉴*/
.pannel{
    position:absolute;
    top:50%;
    right:10px;
    margin-top:-8px;
}
.pannel a{
    display:block;
}
.pannel a span{
    width:35px;
    height:3px;
    background:#000;
    display:block;
    text-indent:-9999px;
    margin:10px 0;
}

.pannel a:before,.pannel a:after{
    content:"";
    width:35px;
    height:3px;
    background:#000;
    display:block;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    width:40vw;
    padding:20px 0;
    text-decoration: none;
    font-size: 50px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align:center;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    width:0;
    position: absolute;
    top: 0;
    right: 80px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn img{
    width:25px;
    height:25px;
}
.openNav{
    width:40%;
    text-align:center;
}

/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/
/*레프트메뉴*/

.title{
    margin-left:100px;
    top:35%;
    left:10%;
    position: absolute;
}

.title p{
    margin:0;
    font-size:100px;
    display:inline-block;
}

.title span{
    padding-left:30px;
    font-size:30px;
    display:inline-block;
}

#container{}

.gnb{
    margin-left:20%;
}
.gnb li{
    margin:100px 0;
}
.gnb li a{
    font-size:55px;
    color:#000;
}
.hansol{}
.hansol a:hover,.topten a:hover,.dtribe a:hover,.hollys a:hover,.samsung a:hover,.hansolCoding a:hover{
    color:#fff;
    /*letter-spacing:25px;*/
/*    background: transparent;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;*/
}


#background.hansolOn{
    background:url(../images/hansolBack.jpg) no-repeat center center;
    background-size:cover;
    opacity:1;
   
}
#background.toptenOn{
    background:url(../images/toptenBack.png) no-repeat center center;
    background-size:cover;
    opacity:1;
}
#background.dtribeOn{
    background:url(../images/dtribeBack.jpg) no-repeat center center;
    background-size:cover;
    opacity:1;
}
#background.hollysOn{
    background:url(../images/hollysBack.jpg) no-repeat center center;
    background-size:cover;
    opacity:1;
}
#background.samsungOn{
    background:url(../images/samsungBack.jpg) no-repeat center center;
    background-size:cover;
    opacity:1;
}
#background.hansolCodingOn{
    background:url(../images/hansolcodingBack.jpg) no-repeat center center;
    background-size:cover;
    opacity:1;
}


@media screen and (max-width:760px) {
    #background{
        display:none;
    }
    #header{
        padding:0;
    }
    .openNav{
        width:100%;
    }
    .closeNav{
        width:0;
    }
    
    .sidenav .closebtn{
        right:60px;
    }
    .sidenav a{
        width:100%;
    }
    .pannel{
        top:10%;
    }
    .leftMenu{
        margin:20px 0;
    }
    .leftMenu img{
        width:3em;
    }
    .title{
        margin-left:0;
        position:relative;
        left:0;
    }
    .title p{
        font-size:60px;
    }
    .title span{
        padding-left:5px;
        font-size:15px;
    }
    .gnb{
        margin-left:10%;
    }
    .gnb li{
        margin:50px 0;
    }
    .gnb li a{
        font-size:25px;
    }
    .hansol a:hover,.topten a:hover,.dtribe a:hover,.hollys a:hover,.samsung a:hover{
        color:#000;
        letter-spacing:0;
    }
}







