@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,p{
    margin:0;
}

a{
    text-decoration:none;
}

cf:after{
    content:"";
    display:block;
    clear:both;
}

body{
    font-family:"Noto Sans",sans-serif;
}

.inner{
    max-width:1280px;
    margin:0 auto;
    position:relative;
}

#wrap{}

/*해더시작*/
#header{}
#header img{
    width:5em;
    position:fixed;
    top:10%;
    left:4%;
}

.pannel{
    position:fixed;
    top:35%;
    left:5%;
}
.pannel a{}
.pannel a span{
    content:"";
    display:block;
    width:35px;
    height:3px;
    background:#000;
    text-indent:-9999px;
    margin:10px 0;
}
.pannel a:after,.pannel a:before{
    content:"";
    display:block;
    width:35px;
    height:3px;
    background:#000;
}
.title{
    padding-top:70px;
}
.title p{
    margin:0;
    font-size:100px;
    display:inline-block;
    font-family: 'Rozha One', serif;
}
/*해더끝*/
.titleImg{
    margin-top:100px;
}
.titleImg h3{
    margin:0 170px;
    width: 280px;
    text-align: right;
    font-size: 40px;
    display: inline-block;
}
.titleImg img{
    vertical-align:middle;
}
.titleImg span{}

#contaniner{}
.con01{
    margin-top:200px;
}
.con01 img{
    margin-top:120px;
}
.con01Title{
    width: 640px;
    height: 80px;
    right: 0;
    position: absolute;
    background:url(../images/rightTitle.png) no-repeat;
}
.con01Title h1{
    margin-top:15px;
    margin-right:150px;
    color:#fff;
    text-align:right;
}

.con02{}
.con02 img{
    width:70%;
    margin:0 auto;
    display:block;
}
.con02Title{
    width:640px;
    height:80px;
    background:url(../images/leftTitle.png) no-repeat;
    margin-top:100px;
    margin-bottom:50px;
}
.con02Title h1{
    color:#fff;
    position:absolute;
    margin-top:15px;
    margin-left:150px;
}
.con03{
    margin:100px 0 200px 0;
}
.con03 img{
    width:40%;
    margin:0 auto;
    display:block;
    padding-top:200px;
}
.con03Title{
    width: 640px;
    height: 80px;
    right: 0;
    position: absolute;
    background:url(../images/rightTitle.png) no-repeat;
}

.con03Title h1{
    margin-top:15px;
    margin-right:200px;
    color:#fff;
    text-align:right;
}















